@use "../helpers" as *;

.header {
  //   background-color: var(--color-accent);
  background-image: url(../image/bg-header.webp);
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__adress {
    color: var(--color-gray);
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 700;
     @include tablet {
        display: none;
      }
  }

  &__top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(8);
    gap: rem(12);
  }

  &__menu {

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(10);
    
    }

    &-list_right{
      display: flex;
      align-items: center;
      column-gap: rem(10);
      color: var(--color-gray);
    }

    &-item {
      cursor: pointer;
      white-space: nowrap;
      list-style: none;
    }

    &-link {
      padding: rem(3) rem(10);
      font-weight: 600;
      color: var(--color-light);
      font-size: 12px;
    }
  }
  &__top_valute {
    color: var(--color-light);
    padding-top: rem(5);
     @include tablet {
        display: none;
      }
  }
  &__main-data{
    display: flex;
    align-items: center;
    gap: rem(12);
    padding-block: rem(16);
    
    @include mobile {
      justify-content: space-between;
    }
  }
  &__search {
    width: rem(830);
    margin-left: rem(15);
    border-radius: rem(15);
    border: none;
    padding: rem(17) rem(100) rem(17) rem(20);
    font-size: 18px;
    line-height: 24px;
    outline: none;
  }
  &__adressa{
    color: #fff9;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    column-gap: rem(20);
    margin-left: rem(20);

    @include tablet {
      display: none;
    }
  }
  &__icon_location_light{
   width: rem(30);
   margin: auto rem(5);
  }
  &__logo {
     @include tablet {
        display: none;
      }
  }
}
