@use '../helpers' as *;

.hero {

    
    &__twoblock {
    padding-top: rem(100);
    display: grid;
    grid-template-columns: repeat(2, minmax(rem(200), 1fr));

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: rem(24);
    }
  }

    &__left{
        &-block{
            max-width: rem(394);
            max-height: rem(525) ;
            @include mobile {
            max-width: 100%;
            grid-row: 1;
    }
        }
        &-mainphoto{
            background-image: url(../image/iphone.jpg);
            width: 100%;
            max-width: rem(394);
            aspect-ratio: 3 / 4;         
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-botphoto {
           display: flex;
           justify-content: center;
           padding: rem(10) rem(0);
        }

        &-botphoto1{
            background-image: url(../image/iphone.jpg);
            width: 100%;
            height: 100%;
            max-width: rem(65);
            min-height: rem(65);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &__right{

         @include mobile {
            grid-row: 2;       
            margin-top: rem(16);
    }
        &-miniblock{
            width: rem(525);
            height: rem(320);
            background-color: var(--color-gray-light);
            border-radius: rem(20);
            margin-top: rem(48);
            padding-left: rem(20);

            @include mobile {
        width: 100%;
        height: auto;   
        margin-top: rem(24);
        padding-right: rem(16);
      }
        }

        &-esim{
            padding-top: rem(10);
        }

        &-sim{
            font-size: rem(20);
        }
        &-link{
            font-size: rem(14);
        }
        &-list {
            padding-left: 1.2em;
        }
        &-list li::marker {
            color: #a100ff;      
            font-size: rem(25);    
        }

        &-payment {
            margin: 0;
            margin-top: rem(40);
        }

       
    }

} 